In [1]:
import pandas as pd
import numpy as np

In [2]:
pf = pd.read_csv('data/pfm_test.csv')

In [3]:
pf.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,40,Non-Travel,Research & Development,9,4,Other,1449,3,Male,3,...,3,80,2,11,2,4,8,7,0,7
1,53,Travel_Rarely,Research & Development,7,2,Medical,1201,4,Female,3,...,2,80,1,26,6,3,7,7,4,7
2,42,Travel_Rarely,Research & Development,2,4,Other,477,1,Male,2,...,2,80,0,14,6,3,1,0,0,0
3,34,Travel_Frequently,Human Resources,11,3,Life Sciences,1289,3,Male,2,...,4,80,2,14,5,4,10,9,1,8
4,32,Travel_Rarely,Research & Development,1,1,Life Sciences,134,4,Male,3,...,4,80,0,1,2,3,1,0,0,0

In [4]:
pf.describe()

,Age,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,...,350.000000,350.0,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000
mean,36.471429,8.391429,2.868571,1023.285714,2.714286,2.734286,2.068571,2.725714,6479.491429,2.691429,...,2.745714,80.0,0.817143,11.202857,2.782857,2.808571,6.782857,4.260000,1.951429,4.017143
std,9.373378,7.685318,1.029583,612.566819,1.067129,0.726669,1.089615,1.083437,4633.609813,2.456892,...,1.041226,0.0,0.886539,7.470399,1.295238,0.722488,5.489113,3.622336,2.752532,3.383720
min,18.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1051.000000,0.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,463.250000,2.000000,2.000000,1.000000,2.000000,2888.750000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,35.000000,7.000000,3.000000,1011.000000,3.000000,3.000000,2.000000,3.000000,5104.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,42.000000,11.000000,4.000000,1584.500000,4.000000,3.000000,3.000000,4.000000,8260.250000,4.000000,...,4.000000,80.0,1.000000,15.750000,3.000000,3.000000,9.750000,7.000000,2.000000,7.000000
max,60.000000,29.000000,5.000000,2068.000000,4.000000,4.000000,5.000000,4.000000,19973.000000,9.000000,...,4.000000,80.0,3.000000,37.000000,6.000000,4.000000,29.000000,16.000000,15.000000,14.000000

In [5]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 30 columns):
Age                         350 non-null int64
BusinessTravel              350 non-null object
Department                  350 non-null object
DistanceFromHome            350 non-null int64
Education                   350 non-null int64
EducationField              350 non-null object
EmployeeNumber              350 non-null int64
EnvironmentSatisfaction     350 non-null int64
Gender                      350 non-null object
JobInvolvement              350 non-null int64
JobLevel                    350 non-null int64
JobRole                     350 non-null object
JobSatisfaction             350 non-null int64
MaritalStatus               350 non-null object
MonthlyIncome               350 non-null int64
NumCompaniesWorked          350 non-null int64
Over18                      350 non-null object
OverTime                    350 non-null object
PercentSalaryHike           350 non-null int64
PerformanceRating           350 non-null int64
RelationshipSatisfaction    350 non-null int64
StandardHours               350 non-null int64
StockOptionLevel            350 non-null int64
TotalWorkingYears           350 non-null int64
TrainingTimesLastYear       350 non-null int64
WorkLifeBalance             350 non-null int64
YearsAtCompany              350 non-null int64
YearsInCurrentRole          350 non-null int64
YearsSinceLastPromotion     350 non-null int64
YearsWithCurrManager        350 non-null int64
dtypes: int64(22), object(8)
memory usage: 82.1+ KB

In [6]:
sex_mapDict={'Male':1,
            'Female':0}
    


pf['Gender']=pf['Gender'].map(sex_mapDict)
pf.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,40,Non-Travel,Research & Development,9,4,Other,1449,3,1,3,...,3,80,2,11,2,4,8,7,0,7
1,53,Travel_Rarely,Research & Development,7,2,Medical,1201,4,0,3,...,2,80,1,26,6,3,7,7,4,7
2,42,Travel_Rarely,Research & Development,2,4,Other,477,1,1,2,...,2,80,0,14,6,3,1,0,0,0
3,34,Travel_Frequently,Human Resources,11,3,Life Sciences,1289,3,1,2,...,4,80,2,14,5,4,10,9,1,8
4,32,Travel_Rarely,Research & Development,1,1,Life Sciences,134,4,1,3,...,4,80,0,1,2,3,1,0,0,0

In [7]:
pf['BusinessTravel'].groupby(pf['BusinessTravel']).count()

BusinessTravel
Non-Travel            39
Travel_Frequently     67
Travel_Rarely        244
Name: BusinessTravel, dtype: int64

In [8]:
BusinessTravel_mapDict={'Non-Travel':0,
                       'Travel_Frequently':1,
                       'Travel_Rarely':2}

pf['BusinessTravel']=pf['BusinessTravel'].map(BusinessTravel_mapDict)

In [9]:
pf['Department'].groupby(pf['Department']).count()

Department
Human Resources            21
Research & Development    219
Sales                     110
Name: Department, dtype: int64

In [10]:
Department_mapDict={'Human Resources':0,
                       'Research & Development':1,
                       'Sales':2}

pf['Department']=pf['Department'].map(Department_mapDict)

In [11]:
pf.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,40,0,1,9,4,Other,1449,3,1,3,...,3,80,2,11,2,4,8,7,0,7
1,53,2,1,7,2,Medical,1201,4,0,3,...,2,80,1,26,6,3,7,7,4,7
2,42,2,1,2,4,Other,477,1,1,2,...,2,80,0,14,6,3,1,0,0,0
3,34,1,0,11,3,Life Sciences,1289,3,1,2,...,4,80,2,14,5,4,10,9,1,8
4,32,2,1,1,1,Life Sciences,134,4,1,3,...,4,80,0,1,2,3,1,0,0,0

In [12]:
pf['EducationField'].groupby(pf['EducationField']).count()

EducationField
Human Resources       8
Life Sciences       133
Marketing            31
Medical             122
Other                18
Technical Degree     38
Name: EducationField, dtype: int64

In [13]:
EducationField_mapDict={'Human Resources':4,
                        'Life Sciences':1,
                        'Marketing':2,
                        'Medical':3,
                        'Other':0,
                        'Technical Degree':5}

pf['EducationField']=pf['EducationField'].map(EducationField_mapDict)

In [14]:
pf.drop(columns=['Over18'], axis=0)#éƒ½å¹´æ»¡18

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,40,0,1,9,4,0,1449,3,1,3,...,3,80,2,11,2,4,8,7,0,7
1,53,2,1,7,2,3,1201,4,0,3,...,2,80,1,26,6,3,7,7,4,7
2,42,2,1,2,4,0,477,1,1,2,...,2,80,0,14,6,3,1,0,0,0
3,34,1,0,11,3,1,1289,3,1,2,...,4,80,2,14,5,4,10,9,1,8
4,32,2,1,1,1,1,134,4,1,3,...,4,80,0,1,2,3,1,0,0,0
5,45,2,0,4,3,1,1744,3,0,1,...,3,80,2,9,2,4,5,0,0,3
6,32,2,2,1,4,2,2016,3,0,3,...,3,80,2,14,3,3,14,10,5,7
7,38,2,1,25,2,1,421,1,0,2,...,3,80,1,19,2,3,10,8,0,1
8,37,2,1,1,3,1,391,4,0,3,...,2,80,0,17,3,3,17,12,5,7
9,29,1,2,1,1,3,312,2,0,3,...,4,80,1,11,5,3,11,10,4,1
10,41,1,1,9,3,3,999,1,1,3,...,2,80,1,21,2,4,18,16,0,11
11,30,0,2,25,2,5,475,4,0,3,...,2,80,1,4,2,4,2,2,2,2
12,24,1,1,9,3,3,1494,2,1,3,...,3,80,0,4,2,2,0,0,0,0
13,51,2,1,8,4,1,296,2,1,2,...,4,80,2,16,5,1,10,9,4,7
14,31,1,2,26,4,2,1967,1,1,3,...,3,80,0,10,4,3,10,7,0,8
15,44,2,1,4,3,3,852,4,1,3,...,4,80,0,10,2,2,5,2,2,3
16,28,0,2,4,3,3,129,2,1,3,...,2,80,0,5,3,4,5,4,0,4
17,38,2,1,2,4,1,271,4,1,3,...,2,80,0,14,3,3,1,0,0,0
18,20,2,2,21,3,2,1226,3,1,4,...,4,80,0,2,2,3,2,1,2,2
19,35,2,1,21,1,1,942,4,0,3,...,4,80,1,10,2,1,10,6,0,7
20,18,0,1,14,3,3,1839,2,0,3,...,3,80,0,0,4,1,0,0,0,0
21,36,2,1,16,4,1,1042,3,0,4,...,3,80,0,18,1,3,17,13,15,14
22,37,2,2,2,3,2,656,4,1,3,...,3,80,1,17,3,2,3,0,1,0
23,26,2,1,2,2,3,1018,4,1,4,...,2,80,0,8,2,3,8,7,1,3
24,38,2,2,7,2,3,382,1,0,4,...,3,80,1,8,3,3,8,0,7,7
25,32,2,2,4,4,3,291,4,1,1,...,3,80,0,14,2,2,14,8,9,8
26,45,2,1,28,2,5,1719,4,0,2,...,3,80,0,21,2,3,21,6,8,6
27,48,2,1,1,3,1,1263,4,1,2,...,3,80,0,25,3,4,1,0,0,0
28,29,2,2,10,1,2,463,4,0,2,...,1,80,2,7,2,3,7,7,1,7
29,32,2,1,5,2,1,21,1,1,4,...,4,80,2,7,5,2,6,2,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,32,2,1,1,3,1,331,4,1,2,...,4,80,0,4,2,1,3,2,1,2
321,58,0,1,1,4,1,422,4,1,1,...,4,80,1,12,2,3,5,3,1,2
322,37,2,1,10,3,1,2017,3,0,4,...,1,80,1,16,2,3,16,11,6,8
323,27,2,1,3,4,3,700,1,1,2,...,4,80,0,5,0,3,4,2,1,1
324,40,2,2,2,2,2,516,4,0,3,...,3,80,2,8,5,3,5,4,1,3
325,29,2,1,3,4,3,564,2,1,2,...,3,80,0,10,2,3,10,2,0,7
326,39,2,2,2,5,1,985,1,1,4,...,4,80,0,9,3,3,8,7,0,7
327,29,0,1,1,1,5,208,4,1,3,...,1,80,1,10,1,3,10,7,0,9
328,21,2,1,3,2,3,379,4,1,2,...,1,80,0,3,4,4,3,2,1,0
329,35,2,2,16,3,2,406,3,1,3,...,3,80,2,12,3,2,11,9,6,9
330,45,2,1,7,3,3,1195,1,0,3,...,3,80,1,7,2,2,3,2,0,2
331,34,2,2,3,1,3,1915,4,0,2,...,3,80,0,9,3,2,4,2,0,1
332,28,2,2,2,4,2,846,2,0,3,...,1,80,0,8,2,3,8,7,7,5
333,44,2,0,1,2,3,1098,2,1,2,...,4,80,1,24,1,3,20,6,3,6
334,38,1,0,1,4,0,1972,4,1,3,...,2,80,1,7,2,3,6,2,1,2
335,39,0,1,9,3,1,1132,3,1,3,...,3,80,0,9,2,2,5,4,0,3
336,32,1,2,8,3,2,207,2,0,3,...,4,80,0,9,2,3,9,8,3,7
337,22,2,1,5,3,1,284,4,1,4,...,1,80,1,4,2,2,4,2,2,2
338,30,2,2,29,4,1,1211,3,1,3,...,3,80,3,8,3,3,4,3,0,3
339,35,2,2,15,2,3,1645,1,1,1,...,4,80,2,7,2,2,2,2,2,2
340,37,1,1,9,3,3,403,2,1,3,...,3,80,3,4,3,2,4,2,1,2
341,53,2,2,6,2,2,205,2,1,3,...,4,80,1,13,3,1,7,7,4,5
342,52,1,1,25,4,3,867,3,0,2,...,3,80,0,31,3,3,9,8,0,0
343,55,0,1,2,1,3,1074,3,1,2,...,2,80,0,31,3,4,9,7,6,2
344,34,0,1,26,1,5,1374,1,0,2,...,3,80,3,5,2,3,5,4,0,0
345,24,2,2,10,4,2,507,4,0,3,...,4,80,1,5,2,4,5,2,0,3
346,36,2,1,3,2,1,1664,4,1,4,...,1,80,1,13,3,3,5,4,0,4
347,30,2,1,1,3,1,806,4,1,1,...,3,80,2,7,2,3,2,2,0,2
348,24,1,1,7,3,1,647,1,0,3,...,4,80,1,6,4,3,6,3,1,2
349,33,2,1,7,3,3,817,3,1,3,...,4,80,0,14,3,4,13,9,3,7

In [15]:
pf['Department'].groupby(pf['Department']).count()

Department
0     21
1    219
2    110
Name: Department, dtype: int64

In [16]:
pf['OverTime'].groupby(pf['OverTime']).count()

OverTime
No     241
Yes    109
Name: OverTime, dtype: int64

In [17]:
sex_mapDict={'Yes':1,
            'No':0}
    


pf['OverTime']=pf['OverTime'].map(sex_mapDict)
pf.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,40,0,1,9,4,0,1449,3,1,3,...,3,80,2,11,2,4,8,7,0,7
1,53,2,1,7,2,3,1201,4,0,3,...,2,80,1,26,6,3,7,7,4,7
2,42,2,1,2,4,0,477,1,1,2,...,2,80,0,14,6,3,1,0,0,0
3,34,1,0,11,3,1,1289,3,1,2,...,4,80,2,14,5,4,10,9,1,8
4,32,2,1,1,1,1,134,4,1,3,...,4,80,0,1,2,3,1,0,0,0

In [18]:
pf['OverTime'].head()

0    0
1    0
2    0
3    0
4    0
Name: OverTime, dtype: int64

In [19]:
pf.head(50)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,40,0,1,9,4,0,1449,3,1,3,...,3,80,2,11,2,4,8,7,0,7
1,53,2,1,7,2,3,1201,4,0,3,...,2,80,1,26,6,3,7,7,4,7
2,42,2,1,2,4,0,477,1,1,2,...,2,80,0,14,6,3,1,0,0,0
3,34,1,0,11,3,1,1289,3,1,2,...,4,80,2,14,5,4,10,9,1,8
4,32,2,1,1,1,1,134,4,1,3,...,4,80,0,1,2,3,1,0,0,0
5,45,2,0,4,3,1,1744,3,0,1,...,3,80,2,9,2,4,5,0,0,3
6,32,2,2,1,4,2,2016,3,0,3,...,3,80,2,14,3,3,14,10,5,7
7,38,2,1,25,2,1,421,1,0,2,...,3,80,1,19,2,3,10,8,0,1
8,37,2,1,1,3,1,391,4,0,3,...,2,80,0,17,3,3,17,12,5,7
9,29,1,2,1,1,3,312,2,0,3,...,4,80,1,11,5,3,11,10,4,1
10,41,1,1,9,3,3,999,1,1,3,...,2,80,1,21,2,4,18,16,0,11
11,30,0,2,25,2,5,475,4,0,3,...,2,80,1,4,2,4,2,2,2,2
12,24,1,1,9,3,3,1494,2,1,3,...,3,80,0,4,2,2,0,0,0,0
13,51,2,1,8,4,1,296,2,1,2,...,4,80,2,16,5,1,10,9,4,7
14,31,1,2,26,4,2,1967,1,1,3,...,3,80,0,10,4,3,10,7,0,8
15,44,2,1,4,3,3,852,4,1,3,...,4,80,0,10,2,2,5,2,2,3
16,28,0,2,4,3,3,129,2,1,3,...,2,80,0,5,3,4,5,4,0,4
17,38,2,1,2,4,1,271,4,1,3,...,2,80,0,14,3,3,1,0,0,0
18,20,2,2,21,3,2,1226,3,1,4,...,4,80,0,2,2,3,2,1,2,2
19,35,2,1,21,1,1,942,4,0,3,...,4,80,1,10,2,1,10,6,0,7
20,18,0,1,14,3,3,1839,2,0,3,...,3,80,0,0,4,1,0,0,0,0
21,36,2,1,16,4,1,1042,3,0,4,...,3,80,0,18,1,3,17,13,15,14
22,37,2,2,2,3,2,656,4,1,3,...,3,80,1,17,3,2,3,0,1,0
23,26,2,1,2,2,3,1018,4,1,4,...,2,80,0,8,2,3,8,7,1,3
24,38,2,2,7,2,3,382,1,0,4,...,3,80,1,8,3,3,8,0,7,7
25,32,2,2,4,4,3,291,4,1,1,...,3,80,0,14,2,2,14,8,9,8
26,45,2,1,28,2,5,1719,4,0,2,...,3,80,0,21,2,3,21,6,8,6
27,48,2,1,1,3,1,1263,4,1,2,...,3,80,0,25,3,4,1,0,0,0
28,29,2,2,10,1,2,463,4,0,2,...,1,80,2,7,2,3,7,7,1,7
29,32,2,1,5,2,1,21,1,1,4,...,4,80,2,7,5,2,6,2,0,5
30,32,0,1,1,4,5,1574,4,1,3,...,2,80,1,9,3,2,6,5,1,2
31,31,2,1,7,2,3,524,2,0,3,...,2,80,1,13,5,1,13,10,3,12
32,35,2,2,7,4,1,1962,3,0,3,...,4,80,0,10,2,3,10,8,0,9
33,30,2,1,20,3,0,1084,3,1,3,...,3,80,1,7,1,2,6,2,0,2
34,34,2,1,8,2,3,757,2,0,3,...,4,80,0,10,2,3,5,1,4,3
35,45,2,1,6,4,0,101,4,1,3,...,2,80,0,17,3,4,0,0,0,0
36,31,0,1,9,2,3,991,3,1,2,...,1,80,0,4,0,3,3,2,1,2
37,53,0,1,1,4,3,1775,1,0,2,...,4,80,3,27,2,2,3,2,0,2
38,50,2,2,1,4,3,323,4,0,3,...,3,80,1,32,3,2,7,0,0,6
39,60,2,1,1,4,3,1697,3,1,1,...,3,80,1,19,2,4,1,0,0,0
40,45,2,1,1,3,0,336,3,1,4,...,3,80,1,25,2,3,24,0,1,7
41,28,2,1,27,3,3,1622,2,0,1,...,2,80,1,6,5,2,5,3,0,0
42,28,2,1,9,3,3,930,3,0,3,...,2,80,1,6,2,3,2,2,2,2
43,44,2,1,7,3,3,1608,2,0,3,...,4,80,1,23,4,2,22,7,1,10
44,33,2,2,2,4,3,1670,4,1,3,...,3,80,2,6,5,3,6,2,0,4
45,24,2,1,29,1,3,1725,2,1,3,...,2,80,3,6,2,4,6,2,1,2
46,28,1,1,2,2,3,1504,3,1,2,...,3,80,0,8,2,2,0,0,0,0
47,31,2,1,1,2,1,530,4,1,2,...,3,80,1,4,3,3,4,2,3,2
48,39,2,1,12,3,3,1654,4,1,3,...,3,80,0,7,3,3,5,4,1,0
49,47,2,2,14,4,2,728,4,1,3,...,4,80,0,20,2,3,7,7,1,7

In [20]:
pf['JobRole'].groupby(pf['JobRole']).count()

JobRole
Healthcare Representative    27
Human Resources              19
Laboratory Technician        50
Manager                      20
Manufacturing Director       41
Research Director            22
Research Scientist           69
Sales Executive              76
Sales Representative         26
Name: JobRole, dtype: int64

In [21]:
JobRole_mapDict={'Healthcare Representative':0,
                        'Human Resources':1,
                        'Laboratory Technician':2,
                        'Manager':3,
                        'Manufacturing Director':4,
                        'Research Director':5,
                        'Research Scientist':6,
                        'Sales Executive':7,
                        'Sales Representative':8,}

pf['JobRole']=pf['JobRole'].map(JobRole_mapDict)

In [22]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 30 columns):
Age                         350 non-null int64
BusinessTravel              350 non-null int64
Department                  350 non-null int64
DistanceFromHome            350 non-null int64
Education                   350 non-null int64
EducationField              350 non-null int64
EmployeeNumber              350 non-null int64
EnvironmentSatisfaction     350 non-null int64
Gender                      350 non-null int64
JobInvolvement              350 non-null int64
JobLevel                    350 non-null int64
JobRole                     350 non-null int64
JobSatisfaction             350 non-null int64
MaritalStatus               350 non-null object
MonthlyIncome               350 non-null int64
NumCompaniesWorked          350 non-null int64
Over18                      350 non-null object
OverTime                    350 non-null int64
PercentSalaryHike           350 non-null int64
PerformanceRating           350 non-null int64
RelationshipSatisfaction    350 non-null int64
StandardHours               350 non-null int64
StockOptionLevel            350 non-null int64
TotalWorkingYears           350 non-null int64
TrainingTimesLastYear       350 non-null int64
WorkLifeBalance             350 non-null int64
YearsAtCompany              350 non-null int64
YearsInCurrentRole          350 non-null int64
YearsSinceLastPromotion     350 non-null int64
YearsWithCurrManager        350 non-null int64
dtypes: int64(28), object(2)
memory usage: 82.1+ KB

In [23]:
pf['MaritalStatus'].groupby(pf['MaritalStatus']).count()

MaritalStatus
Divorced     85
Married     163
Single      102
Name: MaritalStatus, dtype: int64

In [24]:
MaritalStatus_mapDict={'Divorced':1,
                       'Married':2,
                       'Single':0}
     


pf['MaritalStatus']=pf['MaritalStatus'].map(MaritalStatus_mapDict)

In [25]:
pf['Over18'].groupby(pf['Over18']).count()

Over18
Y    350
Name: Over18, dtype: int64

In [26]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 30 columns):
Age                         350 non-null int64
BusinessTravel              350 non-null int64
Department                  350 non-null int64
DistanceFromHome            350 non-null int64
Education                   350 non-null int64
EducationField              350 non-null int64
EmployeeNumber              350 non-null int64
EnvironmentSatisfaction     350 non-null int64
Gender                      350 non-null int64
JobInvolvement              350 non-null int64
JobLevel                    350 non-null int64
JobRole                     350 non-null int64
JobSatisfaction             350 non-null int64
MaritalStatus               350 non-null int64
MonthlyIncome               350 non-null int64
NumCompaniesWorked          350 non-null int64
Over18                      350 non-null object
OverTime                    350 non-null int64
PercentSalaryHike           350 non-null int64
PerformanceRating           350 non-null int64
RelationshipSatisfaction    350 non-null int64
StandardHours               350 non-null int64
StockOptionLevel            350 non-null int64
TotalWorkingYears           350 non-null int64
TrainingTimesLastYear       350 non-null int64
WorkLifeBalance             350 non-null int64
YearsAtCompany              350 non-null int64
YearsInCurrentRole          350 non-null int64
YearsSinceLastPromotion     350 non-null int64
YearsWithCurrManager        350 non-null int64
dtypes: int64(29), object(1)
memory usage: 82.1+ KB

In [27]:
Over18_mapDict={'Y':0}
     


pf['Over18']=pf['Over18'].map(Over18_mapDict)

In [28]:
pf.to_csv('data/FEtest.csv',index=False)