In [1]:
import pandas as pd
import numpy as np

In [54]:
pf = pd.read_csv('data/pfm_train.csv')

In [55]:
pf.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,37,0,Travel_Rarely,Research & Development,1,4,Life Sciences,77,1,Male,...,3,80,1,7,2,4,7,5,0,7
1,54,0,Travel_Frequently,Research & Development,1,4,Life Sciences,1245,4,Female,...,1,80,1,33,2,1,5,4,1,4
2,34,1,Travel_Frequently,Research & Development,7,3,Life Sciences,147,1,Male,...,4,80,0,9,3,3,9,7,0,6
3,39,0,Travel_Rarely,Research & Development,1,1,Life Sciences,1026,4,Female,...,3,80,1,21,3,3,21,6,11,8
4,28,1,Travel_Frequently,Research & Development,1,3,Medical,1111,1,Male,...,1,80,2,1,2,3,1,0,0,0

In [56]:
pf.describe()

,Age,Attrition,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,...,1100.000000,1100.0,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000
mean,36.999091,0.161818,9.427273,2.922727,1028.157273,2.725455,2.730909,2.054545,2.732727,6483.620909,...,2.696364,80.0,0.788182,11.221818,2.807273,2.746364,7.011818,4.207273,2.226364,4.123636
std,9.037230,0.368451,8.196694,1.022242,598.915204,1.098053,0.706366,1.107805,1.109731,4715.293419,...,1.095356,0.0,0.843347,7.825548,1.291514,0.701121,6.223093,3.618115,3.313830,3.597996
min,18.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1009.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,2.000000,2.000000,504.250000,2.000000,2.000000,1.000000,2.000000,2924.500000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,7.000000,3.000000,1026.500000,3.000000,3.000000,2.000000,3.000000,4857.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,15.000000,4.000000,1556.500000,4.000000,3.000000,3.000000,4.000000,8354.500000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,29.000000,5.000000,2065.000000,4.000000,4.000000,5.000000,4.000000,19999.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,37.000000,18.000000,15.000000,17.000000

In [57]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 31 columns):
Age                         1100 non-null int64
Attrition                   1100 non-null int64
BusinessTravel              1100 non-null object
Department                  1100 non-null object
DistanceFromHome            1100 non-null int64
Education                   1100 non-null int64
EducationField              1100 non-null object
EmployeeNumber              1100 non-null int64
EnvironmentSatisfaction     1100 non-null int64
Gender                      1100 non-null object
JobInvolvement              1100 non-null int64
JobLevel                    1100 non-null int64
JobRole                     1100 non-null object
JobSatisfaction             1100 non-null int64
MaritalStatus               1100 non-null object
MonthlyIncome               1100 non-null int64
NumCompaniesWorked          1100 non-null int64
Over18                      1100 non-null object
OverTime                    1100 non-null object
PercentSalaryHike           1100 non-null int64
PerformanceRating           1100 non-null int64
RelationshipSatisfaction    1100 non-null int64
StandardHours               1100 non-null int64
StockOptionLevel            1100 non-null int64
TotalWorkingYears           1100 non-null int64
TrainingTimesLastYear       1100 non-null int64
WorkLifeBalance             1100 non-null int64
YearsAtCompany              1100 non-null int64
YearsInCurrentRole          1100 non-null int64
YearsSinceLastPromotion     1100 non-null int64
YearsWithCurrManager        1100 non-null int64
dtypes: int64(23), object(8)
memory usage: 266.5+ KB

In [58]:
sex_mapDict={'Male':1,
            'Female':0}
    


pf['Gender']=pf['Gender'].map(sex_mapDict)
pf.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,37,0,Travel_Rarely,Research & Development,1,4,Life Sciences,77,1,1,...,3,80,1,7,2,4,7,5,0,7
1,54,0,Travel_Frequently,Research & Development,1,4,Life Sciences,1245,4,0,...,1,80,1,33,2,1,5,4,1,4
2,34,1,Travel_Frequently,Research & Development,7,3,Life Sciences,147,1,1,...,4,80,0,9,3,3,9,7,0,6
3,39,0,Travel_Rarely,Research & Development,1,1,Life Sciences,1026,4,0,...,3,80,1,21,3,3,21,6,11,8
4,28,1,Travel_Frequently,Research & Development,1,3,Medical,1111,1,1,...,1,80,2,1,2,3,1,0,0,0

In [59]:
pf['BusinessTravel'].groupby(pf['BusinessTravel']).count()

BusinessTravel
Non-Travel           108
Travel_Frequently    205
Travel_Rarely        787
Name: BusinessTravel, dtype: int64

In [60]:
BusinessTravel_mapDict={'Non-Travel':0,
                       'Travel_Frequently':1,
                       'Travel_Rarely':2}

pf['BusinessTravel']=pf['BusinessTravel'].map(BusinessTravel_mapDict)

In [61]:
pf['Department'].groupby(pf['Department']).count()

Department
Human Resources            42
Research & Development    727
Sales                     331
Name: Department, dtype: int64

In [62]:
Department_mapDict={'Human Resources':0,
                       'Research & Development':1,
                       'Sales':2}

pf['Department']=pf['Department'].map(Department_mapDict)

In [63]:
pf.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,37,0,2,1,1,4,Life Sciences,77,1,1,...,3,80,1,7,2,4,7,5,0,7
1,54,0,1,1,1,4,Life Sciences,1245,4,0,...,1,80,1,33,2,1,5,4,1,4
2,34,1,1,1,7,3,Life Sciences,147,1,1,...,4,80,0,9,3,3,9,7,0,6
3,39,0,2,1,1,1,Life Sciences,1026,4,0,...,3,80,1,21,3,3,21,6,11,8
4,28,1,1,1,1,3,Medical,1111,1,1,...,1,80,2,1,2,3,1,0,0,0

In [64]:
pf['EducationField'].groupby(pf['EducationField']).count()

EducationField
Human Resources      19
Life Sciences       462
Marketing           127
Medical             337
Other                63
Technical Degree     92
Name: EducationField, dtype: int64

In [65]:
EducationField_mapDict={'Human Resources':4,
                        'Life Sciences':1,
                        'Marketing':2,
                        'Medical':3,
                        'Other':0,
                        'Technical Degree':5}

pf['EducationField']=pf['EducationField'].map(EducationField_mapDict)

In [66]:
pf.drop(columns=['Over18'], axis=0)#éƒ½å¹´æ»¡18

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,37,0,2,1,1,4,1,77,1,1,...,3,80,1,7,2,4,7,5,0,7
1,54,0,1,1,1,4,1,1245,4,0,...,1,80,1,33,2,1,5,4,1,4
2,34,1,1,1,7,3,1,147,1,1,...,4,80,0,9,3,3,9,7,0,6
3,39,0,2,1,1,1,1,1026,4,0,...,3,80,1,21,3,3,21,6,11,8
4,28,1,1,1,1,3,3,1111,1,1,...,1,80,2,1,2,3,1,0,0,0
5,24,0,2,2,4,1,3,1445,4,0,...,3,80,2,5,3,3,5,4,0,3
6,29,0,2,1,9,5,0,455,2,1,...,3,80,0,4,2,3,3,2,2,2
7,36,0,2,2,2,2,3,513,2,1,...,2,80,2,10,2,3,10,9,9,0
8,33,0,2,1,4,4,3,305,3,0,...,4,80,0,7,3,3,3,2,1,1
9,34,0,2,1,2,4,5,1383,3,0,...,4,80,0,14,2,4,14,11,4,11
10,24,1,2,0,22,1,4,1714,4,1,...,3,80,1,1,2,3,1,0,0,0
11,35,0,2,1,10,4,3,1587,1,0,...,3,80,0,10,4,3,5,2,0,4
12,30,1,2,1,3,3,5,297,4,0,...,3,80,0,8,5,3,5,2,0,4
13,54,0,2,1,8,4,1,578,3,0,...,3,80,0,19,3,3,1,0,0,0
14,34,0,2,1,1,3,1,1447,4,0,...,1,80,1,7,2,2,5,4,0,2
15,47,0,2,2,2,4,1,925,4,0,...,1,80,0,3,3,2,3,2,1,2
16,36,0,0,2,15,4,2,2036,4,1,...,1,80,1,15,4,2,15,12,11,11
17,35,0,2,1,1,4,3,1172,4,1,...,2,80,1,10,2,3,8,0,1,7
18,29,0,2,2,19,3,1,1497,3,1,...,3,80,2,10,3,3,10,7,0,4
19,56,1,2,1,14,4,1,161,2,0,...,1,80,3,7,2,3,5,4,4,3
20,45,0,2,1,10,2,1,544,1,1,...,4,80,2,8,3,2,2,2,0,2
21,46,0,2,1,1,4,3,288,4,1,...,3,80,1,17,3,3,4,2,0,3
22,39,0,2,1,10,1,3,1800,3,1,...,3,80,0,9,3,3,4,3,2,2
23,52,0,2,2,3,4,2,776,3,1,...,1,80,0,34,3,4,34,6,1,16
24,32,0,0,1,1,3,1,951,3,0,...,3,80,0,5,3,3,3,0,0,2
25,46,0,1,1,18,1,3,624,1,0,...,4,80,0,28,3,2,2,2,1,2
26,28,0,2,1,17,2,3,536,3,1,...,4,80,1,10,2,3,10,0,1,8
27,29,0,2,1,23,2,1,824,3,1,...,3,80,1,10,3,3,10,7,0,7
28,39,0,2,2,24,1,2,2056,2,0,...,1,80,1,21,2,2,20,9,9,6
29,33,0,2,1,9,3,3,1238,1,1,...,2,80,1,15,5,3,14,10,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,36,0,2,1,7,3,1,1659,1,1,...,3,80,0,15,4,3,4,3,1,3
1071,38,0,2,2,14,3,1,1582,3,1,...,4,80,1,10,3,3,9,8,7,7
1072,26,1,0,2,29,2,3,1037,2,1,...,4,80,0,7,6,3,2,2,2,2
1073,37,0,2,1,19,3,1,1631,3,1,...,1,80,3,9,2,2,4,3,0,2
1074,42,0,1,1,9,2,3,1480,1,0,...,3,80,0,12,3,3,12,9,5,8
1075,37,0,2,1,10,1,1,802,4,0,...,2,80,2,6,3,2,5,3,4,3
1076,30,1,1,0,8,3,4,1747,3,0,...,3,80,1,6,0,2,4,2,1,2
1077,32,0,2,1,5,4,1,1966,4,1,...,2,80,0,8,1,3,1,0,0,0
1078,23,0,2,1,1,2,1,1270,4,1,...,4,80,1,1,2,3,1,0,0,1
1079,31,0,2,1,5,4,5,423,3,1,...,3,80,1,6,4,3,5,2,0,3
1080,42,0,2,1,2,3,3,351,4,0,...,3,80,1,10,4,3,9,6,7,8
1081,40,0,0,1,8,2,1,1552,4,1,...,3,80,0,8,2,3,2,2,2,2
1082,44,0,2,1,2,1,1,1246,1,0,...,4,80,1,10,5,3,10,5,7,7
1083,49,0,1,2,2,3,3,2065,4,1,...,4,80,0,17,3,2,9,6,0,8
1084,29,0,2,2,20,2,2,349,4,1,...,4,80,1,10,2,3,3,2,0,2
1085,35,0,2,1,22,3,1,381,2,0,...,2,80,1,10,6,2,7,7,6,2
1086,26,0,2,1,23,3,1,560,1,0,...,2,80,2,3,3,1,3,2,0,2
1087,29,0,1,1,1,3,1,1753,4,1,...,4,80,0,10,5,4,3,2,0,2
1088,30,0,2,1,17,4,3,1321,2,0,...,4,80,2,9,2,3,9,1,0,8
1089,31,0,2,0,2,3,4,424,1,1,...,4,80,0,9,1,3,2,2,1,0
1090,33,0,2,0,3,2,4,910,4,1,...,3,80,1,7,4,4,4,3,0,3
1091,42,0,2,1,23,5,1,468,1,0,...,2,80,0,16,2,3,1,0,0,0
1092,35,0,1,1,18,2,1,1412,3,1,...,3,80,0,10,2,3,2,2,2,2
1093,38,1,2,1,2,3,3,1573,3,1,...,1,80,2,7,2,3,5,2,1,4
1094,50,0,1,1,20,5,3,1606,2,1,...,3,80,1,32,3,3,30,8,12,13
1095,35,0,2,1,23,4,3,75,3,0,...,3,80,1,4,3,3,2,2,2,2
1096,38,0,2,2,2,4,2,1835,2,0,...,1,80,2,20,4,2,4,2,0,3
1097,37,0,2,2,16,4,2,868,4,1,...,4,80,2,9,2,3,1,0,0,0
1098,22,1,2,1,7,1,1,1878,4,1,...,1,80,0,1,2,3,1,0,0,0
1099,26,1,1,1,2,3,1,1053,1,1,...,2,80,1,6,2,3,3,2,1,2

In [67]:
pf['Department'].groupby(pf['Department']).count()

Department
0     42
1    727
2    331
Name: Department, dtype: int64

In [68]:
pf['OverTime'].groupby(pf['OverTime']).count()

OverTime
No     794
Yes    306
Name: OverTime, dtype: int64

In [69]:
sex_mapDict={'Yes':1,
            'No':0}
    


pf['OverTime']=pf['OverTime'].map(sex_mapDict)
pf.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,37,0,2,1,1,4,1,77,1,1,...,3,80,1,7,2,4,7,5,0,7
1,54,0,1,1,1,4,1,1245,4,0,...,1,80,1,33,2,1,5,4,1,4
2,34,1,1,1,7,3,1,147,1,1,...,4,80,0,9,3,3,9,7,0,6
3,39,0,2,1,1,1,1,1026,4,0,...,3,80,1,21,3,3,21,6,11,8
4,28,1,1,1,1,3,3,1111,1,1,...,1,80,2,1,2,3,1,0,0,0

In [70]:
pf['OverTime'].head()

0    0
1    0
2    1
3    0
4    0
Name: OverTime, dtype: int64

In [71]:
pf.head(50)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,37,0,2,1,1,4,1,77,1,1,...,3,80,1,7,2,4,7,5,0,7
1,54,0,1,1,1,4,1,1245,4,0,...,1,80,1,33,2,1,5,4,1,4
2,34,1,1,1,7,3,1,147,1,1,...,4,80,0,9,3,3,9,7,0,6
3,39,0,2,1,1,1,1,1026,4,0,...,3,80,1,21,3,3,21,6,11,8
4,28,1,1,1,1,3,3,1111,1,1,...,1,80,2,1,2,3,1,0,0,0
5,24,0,2,2,4,1,3,1445,4,0,...,3,80,2,5,3,3,5,4,0,3
6,29,0,2,1,9,5,0,455,2,1,...,3,80,0,4,2,3,3,2,2,2
7,36,0,2,2,2,2,3,513,2,1,...,2,80,2,10,2,3,10,9,9,0
8,33,0,2,1,4,4,3,305,3,0,...,4,80,0,7,3,3,3,2,1,1
9,34,0,2,1,2,4,5,1383,3,0,...,4,80,0,14,2,4,14,11,4,11
10,24,1,2,0,22,1,4,1714,4,1,...,3,80,1,1,2,3,1,0,0,0
11,35,0,2,1,10,4,3,1587,1,0,...,3,80,0,10,4,3,5,2,0,4
12,30,1,2,1,3,3,5,297,4,0,...,3,80,0,8,5,3,5,2,0,4
13,54,0,2,1,8,4,1,578,3,0,...,3,80,0,19,3,3,1,0,0,0
14,34,0,2,1,1,3,1,1447,4,0,...,1,80,1,7,2,2,5,4,0,2
15,47,0,2,2,2,4,1,925,4,0,...,1,80,0,3,3,2,3,2,1,2
16,36,0,0,2,15,4,2,2036,4,1,...,1,80,1,15,4,2,15,12,11,11
17,35,0,2,1,1,4,3,1172,4,1,...,2,80,1,10,2,3,8,0,1,7
18,29,0,2,2,19,3,1,1497,3,1,...,3,80,2,10,3,3,10,7,0,4
19,56,1,2,1,14,4,1,161,2,0,...,1,80,3,7,2,3,5,4,4,3
20,45,0,2,1,10,2,1,544,1,1,...,4,80,2,8,3,2,2,2,0,2
21,46,0,2,1,1,4,3,288,4,1,...,3,80,1,17,3,3,4,2,0,3
22,39,0,2,1,10,1,3,1800,3,1,...,3,80,0,9,3,3,4,3,2,2
23,52,0,2,2,3,4,2,776,3,1,...,1,80,0,34,3,4,34,6,1,16
24,32,0,0,1,1,3,1,951,3,0,...,3,80,0,5,3,3,3,0,0,2
25,46,0,1,1,18,1,3,624,1,0,...,4,80,0,28,3,2,2,2,1,2
26,28,0,2,1,17,2,3,536,3,1,...,4,80,1,10,2,3,10,0,1,8
27,29,0,2,1,23,2,1,824,3,1,...,3,80,1,10,3,3,10,7,0,7
28,39,0,2,2,24,1,2,2056,2,0,...,1,80,1,21,2,2,20,9,9,6
29,33,0,2,1,9,3,3,1238,1,1,...,2,80,1,15,5,3,14,10,4,10
30,38,0,2,2,3,3,1,307,1,1,...,3,80,2,17,6,2,16,10,5,13
31,27,0,1,1,5,2,1,1850,4,0,...,3,80,0,6,3,2,5,4,0,2
32,19,1,1,2,1,1,5,235,3,0,...,1,80,0,1,5,4,0,0,0,0
33,54,0,2,1,17,3,5,1013,3,0,...,3,80,1,22,2,3,10,7,0,8
34,53,0,2,1,23,4,1,901,4,0,...,3,80,0,33,0,3,12,9,3,8
35,33,0,0,2,8,1,1,1044,2,0,...,4,80,0,3,2,2,2,2,2,2
36,29,0,2,2,2,3,3,366,1,1,...,2,80,2,10,2,3,0,0,0,0
37,33,1,1,1,3,3,1,702,1,1,...,1,80,0,10,3,3,10,8,9,7
38,42,0,2,1,29,3,1,836,2,1,...,4,80,1,10,3,2,9,8,7,8
39,34,0,1,1,10,4,5,1597,4,1,...,2,80,1,8,3,2,8,2,7,7
40,42,0,2,2,5,2,2,1029,4,1,...,2,80,0,21,3,4,1,0,0,0
41,26,0,2,2,1,3,1,476,3,1,...,2,80,1,8,3,3,8,7,7,7
42,55,0,2,1,1,4,3,1424,2,1,...,4,80,2,31,4,4,7,7,0,0
43,50,1,1,2,1,4,1,2044,2,1,...,4,80,2,12,3,3,6,3,0,1
44,37,0,2,1,7,4,3,1885,4,1,...,3,80,1,16,2,3,5,3,0,4
45,45,0,0,2,26,3,2,1612,1,1,...,1,80,1,10,2,3,10,7,4,5
46,43,0,1,2,15,3,1,754,4,1,...,3,80,1,7,5,3,2,2,2,2
47,39,1,2,2,5,3,5,42,4,1,...,3,80,1,19,6,4,1,0,0,0
48,38,0,2,2,2,2,2,1125,4,1,...,3,80,0,10,2,3,1,0,0,0
49,31,0,2,1,1,4,3,95,3,1,...,2,80,0,1,4,3,1,1,1,0

In [72]:
pf['JobRole'].groupby(pf['JobRole']).count()

JobRole
Healthcare Representative    100
Human Resources               33
Laboratory Technician        205
Manager                       80
Manufacturing Director       101
Research Director             56
Research Scientist           221
Sales Executive              247
Sales Representative          57
Name: JobRole, dtype: int64

In [73]:
JobRole_mapDict={'Healthcare Representative':0,
                        'Human Resources':1,
                        'Laboratory Technician':2,
                        'Manager':3,
                        'Manufacturing Director':4,
                        'Research Director':5,
                        'Research Scientist':6,
                        'Sales Executive':7,
                        'Sales Representative':8,}

pf['JobRole']=pf['JobRole'].map(JobRole_mapDict)

In [74]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 31 columns):
Age                         1100 non-null int64
Attrition                   1100 non-null int64
BusinessTravel              1100 non-null int64
Department                  1100 non-null int64
DistanceFromHome            1100 non-null int64
Education                   1100 non-null int64
EducationField              1100 non-null int64
EmployeeNumber              1100 non-null int64
EnvironmentSatisfaction     1100 non-null int64
Gender                      1100 non-null int64
JobInvolvement              1100 non-null int64
JobLevel                    1100 non-null int64
JobRole                     1100 non-null int64
JobSatisfaction             1100 non-null int64
MaritalStatus               1100 non-null object
MonthlyIncome               1100 non-null int64
NumCompaniesWorked          1100 non-null int64
Over18                      1100 non-null object
OverTime                    1100 non-null int64
PercentSalaryHike           1100 non-null int64
PerformanceRating           1100 non-null int64
RelationshipSatisfaction    1100 non-null int64
StandardHours               1100 non-null int64
StockOptionLevel            1100 non-null int64
TotalWorkingYears           1100 non-null int64
TrainingTimesLastYear       1100 non-null int64
WorkLifeBalance             1100 non-null int64
YearsAtCompany              1100 non-null int64
YearsInCurrentRole          1100 non-null int64
YearsSinceLastPromotion     1100 non-null int64
YearsWithCurrManager        1100 non-null int64
dtypes: int64(29), object(2)
memory usage: 266.5+ KB

In [75]:
pf['MaritalStatus'].groupby(pf['MaritalStatus']).count()

MaritalStatus
Divorced    238
Married     500
Single      362
Name: MaritalStatus, dtype: int64

In [76]:
MaritalStatus_mapDict={'Divorced':1,
                       'Married':2,
                       'Single':0}
     


pf['MaritalStatus']=pf['MaritalStatus'].map(MaritalStatus_mapDict)

In [77]:
pf['Over18'].groupby(pf['Over18']).count()

Over18
Y    1100
Name: Over18, dtype: int64

In [83]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 31 columns):
Age                         1100 non-null int64
Attrition                   1100 non-null int64
BusinessTravel              1100 non-null int64
Department                  1100 non-null int64
DistanceFromHome            1100 non-null int64
Education                   1100 non-null int64
EducationField              1100 non-null int64
EmployeeNumber              1100 non-null int64
EnvironmentSatisfaction     1100 non-null int64
Gender                      1100 non-null int64
JobInvolvement              1100 non-null int64
JobLevel                    1100 non-null int64
JobRole                     1100 non-null int64
JobSatisfaction             1100 non-null int64
MaritalStatus               1100 non-null int64
MonthlyIncome               1100 non-null int64
NumCompaniesWorked          1100 non-null int64
Over18                      1100 non-null object
OverTime                    1100 non-null int64
PercentSalaryHike           1100 non-null int64
PerformanceRating           1100 non-null int64
RelationshipSatisfaction    1100 non-null int64
StandardHours               1100 non-null int64
StockOptionLevel            1100 non-null int64
TotalWorkingYears           1100 non-null int64
TrainingTimesLastYear       1100 non-null int64
WorkLifeBalance             1100 non-null int64
YearsAtCompany              1100 non-null int64
YearsInCurrentRole          1100 non-null int64
YearsSinceLastPromotion     1100 non-null int64
YearsWithCurrManager        1100 non-null int64
dtypes: int64(30), object(1)
memory usage: 266.5+ KB

In [84]:
Over18_mapDict={'Y':0}
     


pf['Over18']=pf['Over18'].map(Over18_mapDict)

In [85]:
pf.to_csv('data/FEdata.csv')